<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/base.css">
    <link href="https://prismjs.catppuccin.com/mocha.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1><a href="/">Jun Jie</a></h1>
        <nav>
            <ul>
                <li><a href="/posts">/posts</a></li>
                <li><a href="#">/books</a></li>
                <li><a href="#">/resume</a></li>
            </ul>
        </nav>
    </header>
    {{ content }}
    <script src="prism.js"></script>
</body>

</html>